<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.serenidad">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".Signupctivity" />
        <activity
            android:name=".ContactUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HealthHelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- cache directory file provider paths -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".ImagePickerActivity" />
        <activity
            android:name=".HealthMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeditationHelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeditationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeditationSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".journalofthot_behaviour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".journalofthot_datepick"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".journalofthot_feeling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".journalofthot_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".journalofthot_emotionmeter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProgressThoughtLogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".journalofthot_situation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThankfulDiaryHelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThankfulDiary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProgressHelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProgressChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaterEntryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewHabitActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".EmailPassword"></activity>
    </application>

</manifest>